<!-- <p>
	<ngb-alert> This alert's type is success and it's not dismissible because the config has been customized </ngb-alert>
</p> -->

<!-- 1. inline datepicker -->
<!-- <ngb-datepicker #d></ngb-datepicker> -->

<!-- 2. datepicker in the popup -->
<!-- <input type="text" ngbDatepicker #d="ngbDatepicker"/>
<mat-slide-toggle>Toggle me!</mat-slide-toggle> -->

<!-- <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div> -->
  <!-- <h1> To Do List</h1><br>
  <input #task type="text" placeholder="Enter task"><br><br>
  <button (click)="addtask(task.value)" type="submit">Add Task</button><br>

  <ul *ngFor="let item of list">
	<li>
		{{item.name }}
		<button (click)="removeTask(item.id)">Remove</button>
	</li>
  </ul> -->

  <!-- <app-child [item]="data"></app-child>

  <button (click)="updateChild()" type="submit">Update child component</button> -->

<!-- 
  <ul *ngFor="let user of userDetails">
    <app-userdetails [item]="user"></app-userdetails>
  </ul> -->
 
  <!-- <app-child (UpdateDataEvent)="UpdateData($event)"></app-child> -->
<!-- 
  <input type="text" placeholder="Name" [(ngModel)]="name"/>
  <h1>{{name}}</h1> -->

  <!-- <input type="text" placeholder="Text" #box1/>
  <button (click)="getval(box1)"> Submit</button> -->

<!-- 
  <h1>{{title  | uppercase}}</h1>
  <h1>{{capString(title)}}</h1>

  <h1>{{today | date}}</h1>
  <h1>{{today | date  : 'fullDate'}}</h1>

  <h1>{{title  | slice :2}}</h1>
  <h1>{{user | json |uppercase}}</h1> -->

  <!-- <h1>{{20 |usdTinr :80}}</h1> -->

  <form #loginForm="ngForm" (ngSubmit)="userLogin(loginForm.value)">
<input type="text" placeholder="Enter Name" name="name" required ngModel/><br><br/>
<input type="password" placeholder="Enter password" name="password" required ngModel/><br><br/>
<button type="submit">Submit</button>
  </form>