<h1>Rajendra The Developer</h1>
<!-- <a routerLink="about">about</a> <br/><br/>
<a routerLink="">home</a> <br/><br/>
<a routerLink="user">user</a><br/><br/>


<a routerLink="user/10">Rajendra</a><br/><br/>
<a routerLink="user/20">yash</a><br/><br/>
<a routerLink="user/30">Dora</a><br/><br/>

<router-outlet></router-outlet> -->

<!-- <ul>
    <li *ngFor="let data of memberData">
            {{data.Name}}
    </li>
</ul> -->

<!-- <ul>
    <li *ngFor="let data of users">
            {{data.name}} :  {{data.age}} 
    </li>
</ul>

<app-footer>
  
</app-footer> -->

<!-- <ul>
    <li *ngFor="let data of users.results">
      {{ data.email }}
    </li>
  </ul>
  <app-footer>
  
  </app-footer> -->
<!-- 
  <h1> User Form</h1>
  <form #usersform="ngForm" (ngSubmit)="getUserFormData(usersform.value)">
    <input ngModel placeholder="Name" type="text" name="user"/> <br/><br/>
    <input ngModel placeholder="Email" type="text" name="email"/> <br/><br/>
    <input ngModel placeholder="Password" type="password" name="Password"/> <br/><br/>
    <button>Submit</button>
  </form> -->
<!-- 
  <app-login></app-login>
  <app-signup></app-signup> -->

  <!-- <ul>
    <li>
      <a routerLink="login">Login</a> <br/><br/>
      <a routerLink="signup">SignUp</a> <br/><br/>
    </li>
  </ul>
  <router-outlet></router-outlet> -->

  <h1>Admin Pages </h1>
  <ul>
    <li>
      <a routerLink="admin/login">Login</a> <br/><br/>
    </li>
    <li>
      <a routerLink="admin/list">list</a> <br/><br/>
    </li>
  </ul>
 
  <h1>User Pages </h1>
  <ul>
    <li>
      <a routerLink="user/login">Login</a> <br/><br/>
    </li>
    <li>
      <a routerLink="user/list">list</a> <br/><br/>
    </li>
  </ul>
  
  <router-outlet></router-outlet>