<h1>Login Form</h1>
<form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value)" >
    <input type="text" ngModel placeholder="Enter User Name" name="user"><br><br>
    <input type="email" ngModel placeholder="Enter User Email" name="email"><br><br>
    <input type="password" ngModel placeholder="Enter User password" name="password"><br><br>
    <button type="submit" ngModel> Register</button>

    <ul>
        <li>
            {{userdata.user}}
        </li>
        <li>{{userdata.email}}</li>
    </ul>
</form>
